/*-- Common --*/
:root {
  --main-color: #25271e;
  --secondary-color: #b15d19;
  --side-info-color: #fdec2f;
  --highlight-color: #6d0839;
  --bg-color: #fbf6dc;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  margin: 0;
}

* {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  /*font-family: 'Merriweather', serif;*/
}
p {
  font-size: 1.3em;
}
@media screen and (max-width: 800px) {
  * {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 800px) {
  * {
    font-size: 1em;
  }
}

.no-select {
  user-select: none;
}

.highlight {
  color: var(--highlight-color);
  font-weight: bold;
  font-variant-caps: small-caps;
  text-decoration: underline;
}
._name._stress {
  font-size: 2.5em;
  font-family: "Russo One", sans-serif;
}
/*-- Buttons --*/
button {
  border: none;
}

.button {
  min-width: 200px;
  box-shadow: 3px 4px 12px #837e00;
  background: #ffc439;
  text-align: center;
  padding: 10px 20px;
  align-self: center;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  color: var(--highlight-color);
}

button:focus {
  outline: none;
}


/*-- Header --*/
.header__name {
  display: inline-block;
  align-self: center;
}

._stress::first-letter {
  color: var(--highlight-color);
  font-size: 120%;
  font-weight: bold;
}

.header__call {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 0.1;
  align-content: center;
  font-weight: bold;
  color: var(--highlight-color);
}

.header__content {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  cursor: default;
  margin: 0 auto;
}

.header {
  background: var(--side-info-color);
  padding: 10px;
}

/*-- Section common --*/
.section {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.section-content {
  max-width: 1000px;
  min-height: 600px;
  font-size: 130%;
}

/*-- First Block --*/
.first_block {
 /* background: url(branch.png) right top / 300px repeat-x,
    radial-gradient(
      ellipse at center,
      #e9ff00 1%,
      #cec329 42%,
      #e2dd2f 72%,
      #d8c358 100%
    );*/
    background: linear-gradient(to bottom, #efed98 0%, #fed89e 100%); 
}

.first-block__content {
  background: url("./tea.png") right bottom / 400px no-repeat;
}

.first-block__content__header {
  color: var(--highlight-color);
  font-size: 300%;
  padding-right: 400px;
}

.first-block__content__text {
  max-width: 550px;
  border-left: 3px solid var(--highlight-color);
  padding-left: 10px;
}

/*-- Second Block --*/
.second-block {
  background: linear-gradient(to bottom, #ffc875 0%, #dbd8cb 83%, #f2f2f2 100%),
    #dfd396;
}

.second-block__header {
  font-size: 2.5em;
  font-weight: bold;
  padding: 60px 0 0;
}

.second-block__content._left {
  vertical-align: top;
  background: url("repeat-pot.png") left bottom / 300px no-repeat;
  padding: 0 100px 320px 0;
  max-width: 550px;
  display: inline-block;
}

.second-block__content._right {
  max-width: 400px;
  display: inline-block;
  padding: 20px 15px;
  box-shadow: 4px 4px 0px 0px #e3bf87;
  border-radius: 20px;
  background: #fad49b;
}

.contact-form-description {
  color: var(--secondary-color);
  font-size: 60%;
  font-style: italic;
}

.input-entry {
  padding: 10px 0;
}

.input {
  margin-top: 5px;
  line-height: 1.5;
  width: 95%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid #f1f3d3;
}

.input:focus {
  outline: none;
  border: 2px solid #c7fcc6cc;
}

.container-form-btn {
  display: flex;
  padding: 10px 0 0;
  justify-content: center;
}

/*-- Assortment block --*/
.assortment-block {
  background: url("smoke.png") center bottom / 700px no-repeat, #e3b77e;
}
.assortment-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 100px;
}
.assortment__header {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.assortment-list__item {
  padding: 10px;
  background: #fff;
}
.assortment-list__card {
  background: #fff;
  border: 2px dashed #4d3003;
  padding: 15px;
  height: 100%;
  position: relative;
}

.assortment-list__card-head__img {
  max-width: 250px;
  max-height: 250px;
}
.assortment-list__card-head__caption {
  text-align: center;
  padding: 2px;
  font-size: 110%;
}

.assortment-list__card-info {
  font-size: 75%;
  color: #33230c;
  font-family: "Raleway", sans-serif;
}
.assortment-list__card-head {
  margin: 0;
  display: flex;
  object-fit: contain;
  align-items: center;
}

/*-- three steps block --*/
.three-steps-block {
  background: url("repeat-pot-orig.png");
}

.three-steps-block__content {
  background: #faebd7f0;
  padding: 25px 50px;
  border-radius: 50px;
}
.three-steps-block__content-caption {
  text-shadow: 3px 3px 2px black, 0 0 1em #faebd7c7;
  color: #edbf12;
  font-size: 200%;
  color: white;
  text-align: center;
}

._rainbow {
  animation: rainbow 1s infinite;
}

@keyframes rainbow {
  0% {
    color: lightblue;
  }
  30% {
    color: blue;
  }
  100% {
    color: lightblue;
  }
}

.three-steps-block__content-step {
  font-size: 120%;
  font-weight: bold;
  color: #5d0e01;
  font-family: "Raleway", sans-serif;
  padding: 30px 0;
}
.three-steps-block__content-step._second {
  margin: 0 auto;
  max-width: 500px;
}
.three-steps-block__content-step._third {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 0px -40px -5px;
  background: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px;
  display: inline-block;
  transform: rotate(45deg);
}

._first .icon {
  border-top: 2px solid #1dc943;
}
._second .icon {
  border-right: 2px solid #1dc943;
  border-top: 2px solid #1dc943;

}
._third .icon {
  border: 2px solid #1dc943;
}

.icon img {
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}

/*-- feedback --*/
.feedback__entry-outer {
  background: #fff;
  padding: 15px;
}
.feedback__entry {
  display: none;
  background: #fff;
  border: 2px dashed #4d3003;
  padding: 15px;
  min-height: 360px;
}
.feedback__entry__image {
  display: inline-block;
  align-self: flex-start;
  width: 250px;
  flex-shrink: 0;
  padding: 30px;
  margin: 0 20px 0 0;
}
.feedback__entry__name {
  font-weight: bold;
}
.feedback__title {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
.feedback__buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.feedback__buttons .button {
  margin: 0 10px;
}
/*-- footer --*/
footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--side-info-color);
  padding: 15px;
}
.footer {
  display: inline-block;
}
.footer__left__name,
.footer__left__address,
.footer__right__button,
.footer__right__quest  {
  display: inline-block;
  padding-right: 10px; 

}